<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Due Bill</title>
</head>

<body>
    <nav class="navbar ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/managerhome">
                Home
            </a>
        </div>
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
    </script>

    <h4 class="page-title">Dues Table</h4>

    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Year</th>
                <th scope="col">Due</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i=0;i< students.length;i++){%>
            <tr>
                <td>
                    <strong class="item-name"><%=students[i].name%></strong>
                </td>
                <td class="item-rollnumber"><%=students[i].rollNum%></td>
                <td class="item-year"><%=students[i].year%></td>
                <td class="item-due"><%=students[i].dues%></td>
            </tr>
            <%}%>
            
            
        </tbody>
    </table>



</body>
<style>
    table {
        margin-top: 50px;
        margin-left: 30%;
        border-collapse: separate;
        border-spacing: 0;
        color: #4a4a4d;
        font: 15px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    th,
    td {
        padding: 10px 15px;
        vertical-align: middle;
    }

    thead {
        background: #395870;
        background: linear-gradient(#49708f, #293f50);
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
    }

    th:first-child {
        border-top-left-radius: 5px;
        text-align: left;
    }

    th:last-child {
        border-top-right-radius: 5px;
    }

    tbody tr:nth-child(odd) {
        background: #f0f0f2;
    }

    tbody tr:nth-child(even) {
        background: #f0f0f2;
    }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
    }

    td:first-child {
        border-left: 1px solid #cecfd5;
    }

    .item-name {
        color: #395870;
        display: block;
        width: 275px;;
    }

    .text-offset {
        color: #7c7c80;
        font-size: 12px;
    }

    .item-rollnumber {
        text-align: center;
    }

    .item-year {
        text-align: right;
    }

    .item-multiple {
        display: block;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }


    tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    .navbar-brand {
        color: aliceblue;
    }

    .navbar-logout {
        color: aliceblue;
    }

    .navbar {
        background-color: #3E8ED0;
    }

    .page-title {
        text-align: center;
        margin-top: 3%;
    }

    .container-fluid {
        margin-left: 8%;
        margin-right: 7%;
        color: aliceblue;
    }

    body {

        background-image: url("https://media.istockphoto.com/photos/assorted-indian-recipes-food-various-picture-id922783734?k=20&m=922783734&s=612x612&w=0&h=_oV4oOrb8kC4RVgAI6RrGfQ8lIKsnP89lwwjHfhxUzQ=");

        background-size:cover;
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: soft-light;
    }
</style>

</html>