<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Mess Menu</title>
</head>

<body>
    <nav class="navbar ">
        <!-- navbar-light bg-light -->
        <div class="container-fluid">
            <a class="navbar-brand" href="studentHome.html">
                Home
            </a>
        </div>
    </nav>

    <h4 class="page-title">Mess Menu</h4>


    <div class="row" style="margin-top:6%; margin-left: 20%;">

        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title " style="text-align: center;">MONDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text monday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text monday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text monday-dinner">
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">TUESDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text tuesday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text tuesday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text tuesday-dinner">
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div> 
    </div>


    <div class="row" style="margin-top:16%; margin-left: 20%;">

        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">WEDNESDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text wednesday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-tex wednesday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text wednesday-dinner">   
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">THURSDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text thursday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text thursday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text thursday-dinner">
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div> 
    </div>


    <div class="row" style="margin-top:16%; margin-left: 20%;">

        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">FRIDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text friday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text friday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text friday-dinner">   
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">SATURDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text saturday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text saturday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text saturday-dinner">
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div> 
    </div>

    <div class="row" style="margin-top:16%; margin-left: 38%;">

        <div class="col-sm-6">
            <div class="card" style=" border-color: black; width: 25em;">
                <div class="card-body card-img-overlay">
                    <h5 class="card-title" style="text-align: center;">SUNDAY</h5>
                    <h6 class="card-subtitle">Breakfast</h6>
                    <p class="card-text sunday-breakfast">
                        Breakfast menu
                    </p>
                    <h6 class="card-subtitle" style="text-decoration: #0a0a0a;">Lunch</h6>
                    <p class="card-text sunday-lunch">
                        Lunch Menu  
                    </p>
                    <h6 class="card-subtitle">Dinner</h6>
                    <p class="card-text sunday-dinner">   
                        Dinner Menu
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 100px;">
<br>
    </div>

    <style>
        .form-select {
            width: 150px;
        }
    
        .dateinput {
            resize: horizontal;
            width: 200px;
            height: 38px;
            margin-top: auto;
            margin-left: 100px;
        }
    
        .page-title {
            margin-left: 47%;
            margin-top: 1%;
        }
    
        .row {
            margin-left: 15%;
            margin-right: 15%;
        }
    
        .navbar-brand {
            color: aliceblue;
        }
    
        .navbar {
            background-color: #3E8ED0;
        }
    
        .container-fluid {
            margin-left: 8%;
            margin-right: 7%;
            color: aliceblue;
        }
    
        body {
            background-image: url("https://media.istockphoto.com/photos/assorted-indian-recipes-food-various-picture-id922783734?k=20&m=922783734&s=612x612&w=0&h=_oV4oOrb8kC4RVgAI6RrGfQ8lIKsnP89lwwjHfhxUzQ=");
            /* background-size: auto; */
            /* background-repeat: no-repeat; */
            background-size:cover;
            background-color: rgba(255, 255, 255, 0.5);
            background-blend-mode: soft-light;
        }
    </style>
    

</body>

</html>