<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mess Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css">
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand"><a class="navbar-item is-size-4" href="/">Mess Management</a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarCollapsible"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
        <div class="navbar-menu" id="navbarCollapsible">
          <div class="navbar-end">
          </div>
        </div>
      </div>
    </nav>
    <script src="/js/navbar.js"></script>
    <script src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

<div class="columns is-centered">
  <div class="column is-5-tablet is-4-desktop is-4-widescreen">
    <form class="box" action="/login" method="post">
      <h1 class="title is-1 has-text-centered">Student Login</h1>
      <div class="field">
        <label class="label" for="rollno">Roll Number</label>
        <div class="control">
          <input class="input" id="rollno" type="tel" name="rollno" placeholder="1234567" required="required"/>
        </div>
      </div>
      <div class="field">
        <label class="label" for="login_pass">Password</label>
        <div class="control">
          <input class="input" id="login_pass" type="password" name="login_pass" placeholder="*******" required="required"/>
        </div>
      </div>
      <div class="field">
        <button class="button is-success" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

    <main class="container">
      <section class="section">
      </section>
    </main>
  </body>
</html>

